@charset "utf-8";
/*头部搜索栏*/
header{ float:left}
.search{
	width:100vw;
	background:#F1F1F1;
	height:2em;
	}
.search span{
	width:52vw;
	min-width:1000px;
	margin:0 auto;
	}
.search span input{
	border-radius:10px;
	border:solid 1px #999;
	opacity:0.5;
	line-height:18px;
	float:right;
	text-indent:10%;
	}
.search span i{ padding-top:0.8%}
.search span img{
	float:right;
	margin-left:1%;
	}
/*导航栏*/
nav{
	height:5em;
	background:#FAFAFA;
	padding-top:1.5%;
	box-sizing:border-box;
	}
.navcenter{
	width:52vw;
	min-width:1000px;
	margin:0 auto;
	}
.logo{
	float:left;
	margin-right:5%;
	margin-top:-0.8em;
	}
nav ul{
	float:left;
	font-size:15px;
	margin-top:1%;
	}
nav ul a{
	float:left;
	color:#272727;
	cursor:pointer;
	}
nav ul a i{
	display:inline-block;
	color:#C4C0C0;
	margin:0 0.5em;
	}
.navnew{
	position:relative;
	top:-3.6vh;
	left:520px;
	}

/*banner*/
#box {
	margin:0 auto;
	height:170px;
	background:url(../img/supply/banner.jpg) no-repeat center;
	width:100vw;
	min-width:1000px;
	overflow:hidden;
	position:relative;
}
/*section*/
section{
	width:900px;
	height:1100px;
	min-width:1000px;
	margin:0 auto;
	}
.st-left{
	float:left;
	width:240px;
	height:675px;
	background:#F0F0F0;
	}
.st-left-head{
	width:100%;
	height:55px;
	background:linear-gradient(#F1F1F1 , #D5D5D5);
	font-size: 18px;
    color: #606060;
    line-height: 66px;
	text-indent: 15px;
	font-weight:500;
	border-bottom:solid 2px #D2D2D2;
	}
.st-left-font1{
	color:#A2A2A2;
	display:inline-block;
	font-size:13px;
	margin-left:10px;
	}
.st-left-list{
	height:38px;
	line-height:38px;
	background:linear-gradient(#29C780 , #0CA661);
	text-indent: 15px;
	color:#fff;
	margin:10px 0 30px 0;
	}
.st-left-list img{
	vertical-align:middle;
	margin-right:10px;
	}
.st-left-contect li:nth-of-type(1){
	background:url(../img/supply/leftc1_r1_c1.gif);
	height:61px;
	margin-top:10px;
	}
.st-left-contect li:nth-of-type(1) i{
	font-size:24px;
	text-indent:28px;
	padding-top:30px;
    color: #545454;
    font-family: Arial;
	}
.st-left-contect li:nth-of-type(2){
	background:url(../img/supply/leftc1_r3_c1.gif);
	height:61px;
	}
.st-left-contect li:nth-of-type(2) i{
	font-size:13px;
	text-indent:28px;
	padding-top:30px;
    color: #4F4F4F;
	}
/*右侧部分*/
.st-right{
	float:left;
	width:700px;
	box-sizing:border-box;
	}
.st-right-head{ 
    color:#6A6969;
	font-size:24px;
	height:55px;
	line-height:68px;
	display:flex;
	border-bottom:solid 2px #F6F6F6;
	text-indent:20px;
	}
.st-right-head i{ font-size:12px}
.st-right-font1{ width:450px}
.st-right-head i:nth-of-type(1){ text-indent:10px}
.st-right-head i:nth-of-type(2){ width:10px; margin-left:-11px}
.st-right-head i:nth-of-type(3){ color:#C4C3C3}

.st-right-info{
	background:#fff;
	padding-left:25px;
	box-sizing:border-box;
	padding-right:15px;
	}
.st-right-table{
	display:flex;
	align-items:center;
    flex-flow:column;
	border:solid 1px #DADADA;
	margin-top:2em;
	}
.st-right-table li{ 
    width:100%;
	height:5.8em;
	display:flex;
	align-items:center;
	justify-content:space-between;
	font-size:12px;
	color:#414141;
	border-bottom:solid 1px #EEEEEE;
    }
.st-right-table li:nth-of-type(1){height:3em;font-size:14px;}
.st-right-table li:nth-of-type(9){height:2.4em}
.right-table-grey { background:#F5F5F5}
.st-right-table li i{ text-align:center}
.st-right-table li i:nth-of-type(1){ width:19%}
.st-right-table li i:nth-of-type(2){ width:10%}
.st-right-table li i:nth-of-type(2) img{ width:100%}
.st-right-table li i:nth-of-type(3){ width:12%; margin-left:5%}
.st-right-table li i:nth-of-type(4){ width:10%}
.st-right-table li i:nth-of-type(5){ width:10%}
.st-right-table li i:nth-of-type(6){ width:12%}
.st-right-table li i:nth-of-type(7){ width:10%; margin-right:2%}
.st-right-table span:nth-of-type(1){ padding-left:80%}
.st-right-table span:nth-of-type(2){ padding-right:5%}

/*底部黑色信息栏*/
footer{
	width:100vw;
    height:20vh; 
	float:left;
	background:#2C2C2C;
	}
.navbottom{
	width:52vw;
	height:5vh;
	min-width:1000px;
	margin:0 auto;
	display:flex;
	color:#CECECE;
	}
.navbottom ul{
	display:flex;
	justify-content:space-around;
	align-items: center;
	width:40%;
	font-size:15px;
	}
.navbottom ul a{ 
    height:5vh; 
	line-height:5vh;
	width:20%;
	text-align:center;
	}
.navbottom span{
	display:flex;
	justify-content:space-around;
	align-items: center;
	width:16%;
	margin-left:45%;
	font-size:14px;
	}
.navbottom ul a:hover{background:#D21E1F}
.hoverred{ background:#D21E1F}
.Copyright{
	border-top:solid 1px #535353;
	display:flex;
	flex-flow:column;
	justify-content:space-around;
	align-items: center;
	color:#8D8D8D;
	font-size:13px;
	}
.Copyright span{ 
   width:100vw; 
   text-align:center;
   line-height:4em;
   padding-top:1vh;
   }








































